@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    font-family: poppins, sans-serif;
    font-weight: 300;
    color: #535865;
    background-color: #DFD9E2 ;
}

#introduction {
    font-weight: 500;
}

ul li {
    list-style: square;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 13px;
    text-align: center;
}

h1, h2, h3 {
    color: #865B9A;
}

button{
    background-color: #865B9A;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: #fff;
    color: black;
}